@font-face {
      font-family: "Consolas";
      src: url("fonts/consolas.ttf");
}
html{
    height: 100%;
}
body{
    font-size: 12px;
    height: 100%;
    font-family: Consolas, Tahoma, Simsun,Microsoft Yahei;
    background: url(images/bg.jpg) fixed right bottom no-repeat;
    position: relative;
    color: rgb(102, 102, 102);
}
body,ul,li,h1,h2,h3,h4,h5,h6,p,pre{
    margin: 0;
    padding: 0;
}
li{
    list-style:none;
}
h2,h3,h4,h5{
    font-weight: normal;
}
a{
    text-decoration: none;
    color:rgb(139, 0, 0);
    font-size: 1.4em;
}


/*temp */
a:hover{text-decoration: underline;}

.header{
    padding:10px 0 0 80px;
    border-bottom: 1px solid #efefef;
    position: relative;
}
.header .aside, .header h1{
    display: inline-block;
}
.header h1{
    margin: 20px 10px;
}
.header .aside{
    position: absolute;
    margin-left: 20%;
    margin-top: 40px;
    top: 0;
}
.header .main-menu a{
    display: inline-block;
    margin: 0 10px;
}
.article{
    width: 60%;
    margin: 30px auto;
    background: rgba(255,255,255,.5);
    *background: rgb(255,255,255);
    box-shadow: 0 0 25px 5px rgba(255,255,255,.8);
    padding: 10px;
    overflow: hidden;
}
.recent-list{
    margin: 40px;
    position: absolute;
    width: 10%;

}

.index-wrapper{
    width: 75%;
}
.index-wrapper .article-list{
    width: 45%;
    display: inline-block;
    position: relative;
    margin: 0 2% 0 0;
    box-shadow: 0 0 0;
    padding: 0 0px 20px 0;
    box-sizing: content-box;
    vertical-align: top;
}
.article-list{
    
}
.article-list h2{
    font-weight: normal;
    padding-left: 20px;
}
.article-list ul{
    padding-left: 20px;
}
.article-list li{
    padding: 5px;
    border-bottom: 1px dotted rgba(0,0,0,.7);
    position: relative;
}
.article-list a{
    display: block;
    font-size: 1.4em;
}
.article-list li a{
    padding-right: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-list .article-date{
    position: absolute;
    right: 0;
}
.article-list .article-type{
    text-transform: uppercase;
    position: relative;
}
.article-list .more{
    position: absolute;
    right: 0;
    
}
 
.comments{
    width: 60%;
    margin: 0 0 0 80px;
}
.footer{
    padding:10px 40px;
    text-align: center;
}

.avatar{
    display: inline-block;
    height: 60px;
    width: 60px;
    background: url(images/avatar.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.intro-myself{
    padding-left: 30px;
}
.intro-myself .avatar{
    position: absolute;
    margin-left: 40px;
    margin-top: 17px;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px rgb(169, 169, 169);
}
.intro-myself p{
    padding-left: 140px;
    margin: 7px 0;
    line-height: 2em;
}
/**/

@media (max-width: 900px) { 
    .index-wrapper .article-list{
        width: 400px;
    }
}

.article-total-list{
    
}
.article-total-list ul {
    background: #fefefe;
    padding: 10px;
    box-shadow: 0 0 10px #fff;
}
.article-total-list ul li{
    line-height: 2em;
    margin: .2em 0;
    border-bottom: 1px dashed #eee;
    padding: .2em .5em;
    position: relative;
    white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  padding-right: 105px;
}
.article-total-list ul li a{    
    margin-left: 120px;
}
.article-total-list ul li .article-date{
    position: absolute;
    right: 0;
}
.article-total-list ul li span{
    display: inline-block;
    overflow: hidden;
    position: absolute;
    text-align: justify;
}
.article-total-list ul li .fic-fandom{
    width: 70px;
}
.article-total-list ul li .fic-cp{
    width: 42px;
    margin-left: 71px;
}
/*单个页面左右布局*/
.colume-layout .header{
    padding: 0;
    border: none;
    position: fixed;
    width: 30%;
    right: 0;
}
.colume-layout .header h1{
    display: block;

}
.colume-layout .header .aside{

}
.colume-layout .header .main-menu {
    position: relative;

    margin: 0;
}
.colume-layout .header .main-menu a{
    display: block;

    line-height: 40px;
    font-size: 1.6em;
    text-align: left;
}